{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}
{{- $companyRoot := false -}}
{{- if in site.Params.company_routes $page.Section -}}
  {{- $companyRoot = site.GetPage (printf "/%s" $page.Section) -}}
{{- end -}}

{{- with index site.Menus $menuID }}
  <nav id="mobile-main-menu" class="nav" aria-label="Main menu" data-mobile-menu>
    <ul class="nav-list">
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" . "companyRoot" $companyRoot) }}
    </ul>
  </nav>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- $companyRoot := .companyRoot }}
  {{- range .menuEntries }}
    {{- $href := .URL -}}
    {{- if and $companyRoot (hasPrefix $href site.Home.RelPermalink) -}}
      {{- $relativePath := strings.TrimPrefix site.Home.RelPermalink $href -}}
      {{- $href = printf "%s%s" $companyRoot.RelPermalink $relativePath -}}
    {{- end -}}
    {{- $attrs := dict "href" $href }}
    {{- $class := "nav-link" }}
    {{- if or ($page.IsMenuCurrent .Menu .) (and $companyRoot (eq $page.RelPermalink $href)) }}
      {{- $attrs = merge $attrs (dict "aria-current" "page") }}
      {{- $class = printf "%s is-active" $class }}
    {{- else if or ($page.HasMenuCurrent .Menu .) (and $companyRoot (ne $href $companyRoot.RelPermalink) (hasPrefix $page.RelPermalink $href)) }}
      {{- $attrs = merge $attrs (dict "aria-current" "true") }}
      {{- $class = printf "%s is-ancestor" $class }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li class="nav-item">
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
        {{- printf " class=%q" $class | safeHTMLAttr -}}
      >{{ $name }}</a>
    </li>
  {{- end }}
{{- end }}
